#aside-mid-li-ul-1 {
    display: block;
}

.main-out > h1 {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: #30333B;
    margin-bottom: 20px;
    background: linear-gradient(to right, #FFF, #7179A1 50%, #FFF 100%) no-repeat bottom /50% 1px;
}
.main-mid h1 {
    line-height: 30px;
    color: #7179A1;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, #7179A1, #FFF) no-repeat bottom /100% 1px;
}

.main-top h1 span {
    font-weight: normal;
    color: #188eee;
    padding-left: 10px;
    font-size: 14px;
}

.main-top h2 {
    margin: 5px 0 5px 0;
    font-size: 12px;
}

.main-mid {
    width: 100%;
    margin-top: 30px;
}

.main-mid ul li {
    margin: 8px 0;
    font-size: 12px;
}

.main-mid ul li span {
    color: #188eee;
    margin-right: 4px;
}

.main-mid ul li ol {
    margin-left: 15px;
}

.main-mid ul li ol span {
    color: blue;
}